<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traveldestinations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tokyovisiting2"></activity>
        <activity android:name=".desc_newyork" />
        <activity android:name=".desc_riodejanerio" />
        <activity android:name=".desc_rome" />
        <activity android:name=".desc_isthanbull" />
        <activity android:name=".desc_paris" />
        <activity android:name=".desc_capetown" />
        <activity android:name=".tokyohistory" />
        <activity android:name=".tokyofood" />
        <activity android:name=".tokyovisiting1" />
        <activity android:name=".tokyofood2" />
        <activity android:name=".tokyofood1" />
        <activity android:name=".meijishire" />
        <activity android:name=".tokyovisitingplaces" />
        <activity android:name=".nationalMuseum" />
        <activity android:name=".desc" />
        <activity android:name=".places" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>